* {
  box-sizing: border-box;
}

body {
  color: #2f4f4f;
  background-color: #f6f9ed;
  font-size: 1em;
  margin: 0px;
  font-family: Helvetica;
}

.row {
  height: 525px;
  width: 100%;
  position: relative;
  text-align: center;
}

canvas,
#guess,
.draw {
  border: 1px solid #76eec6;
}

.users {
  width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

iframe {
  display: inline-block;
  width: 95%;
  height: 200px;
  margin-left: 7px;
}

ul {
  display: none;
  list-style-type: none;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  margin-bottom: 10px;
  margin-top: 0px;
}

ul > p {
  font-weight: bold;
  margin: 10px 0;
}

#guesses > p {
  margin: 1px 0;
  padding: 2px;
}

ul > li {
  width: 20%;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.draw-buttons,
#guesses {
  text-align: center;
}

.draw-buttons {
  height: 35px;
  display: flex;
  position: relative;
  left: 7%;
  margin-top: -45px;
  float: left;
  letter-spacing: 5px;
}

#guesses {
  font-style: italic;
  font-size: 16px;
}

button {
  width: 30px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

h1 {
  background-color: #04aa6d;
  color: #ffffff;
  font-size: 30px;
  margin: 0 0 1px 0;
  padding: 10px 40px;
  text-align: center;
}

#guess {
  background-color: white;
  border-radius: 5px;
  display: block;
  margin: auto;
  left: 20px;
  padding-left: 20px;
}

.draw {
  background-color: white;
  border-radius: 5px;
  display: block;
  margin: auto;
  left: 20px;
  padding-left: 20px;
  text-align: center;
}

#guess label {
  position: relative;
  left: 2rem;
  top: 0.2rem;
}

.draw {
  padding-left: 10px 25px;
}

#guess {
  padding: 10px;
}

#guess > .guess-input {
  padding: 5px 5px;
  font-size: 20px;
  width: 100%;
  left: 30px;
}

#guess > .submit-guess-input {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.draw > p {
  margin: 15px;
}

span.word {
  font-weight: bolder;
  color: #228b22;
}

.hidden {
  display: none;
}

#top-message {
  text-align: center;
  margin: auto;
  width: 90%;
}

canvas {
  width: 90%;
  height: 90%;
  background-color: white;
  display: inline-block;
  margin: 10px auto;
  cursor: pointer;
}

.black {
  background-color: #000000;
  margin-right: 2px;
}

.blue {
  background-color: #0000ee;
  margin-right: 2px;
}

.green {
  background-color: #66cd00;
  margin-right: 2px;
}

.red {
  background-color: #ff0000;
  margin-right: 2px;
}

.yellow {
  background-color: #ffff00;
  margin-right: 2px;
}

.clear,
.white {
  background-color: white;
  margin-right: 2px;
}

.grey-out {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #4a4a4a;
  opacity: 0.8;
  display: none;
  z-index: 900;
}

.user {
  position: relative;
  background-color: white;
  max-height: 300px;
  max-width: 300px;
  text-align: center;
  padding: 25px 5px;
  top: 20%;
  margin: auto;
  border-radius: 6px;
}

#username {
  width: 90%;
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

#submitname {
  width: 70px;
  height: 30px;
  background-color: #9bcd9b;
}

#guessButton {
  border: 1px solid #76eec6;
  background-color: white;
  display: block;
  margin: auto;
  padding-left: 20px;
  padding: 10px;
}

#players {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#players td,
#players th {
  border: 1px solid #ddd;
  padding: 8px;
}

#players tr:nth-child(even) {
  background-color: #f2f2f2;
}

#players tr:hover {
  background-color: #ddd;
}

#players th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}
